BOT_TOKEN=replace_with_your_telegram_bot_token
SEARXNG_BASE_URL=http://host.docker.internal:8888
ADMIN_CHAT_IDS=replace_with_your_telegram_chat_id

# Optional runtime tuning
DIGEST_INTERVAL_HOURS=6
WATCHDOG_INTERVAL_HOURS=1
WATCHDOG_WINDOW_HOURS=2
DIGEST_WINDOW_HOURS=24
SEARCH_WINDOW_HOURS=48
SEARCH_TIMEOUT_SECONDS=30
TELEGRAM_TIMEOUT_SECONDS=30
FORCE_TRENDS_LIMIT=5
STALE_DAYS=14
RSS_FETCH_TIMEOUT_SECONDS=5
RSS_FETCH_RETRIES=2
RSS_FETCH_BACKOFF_SECONDS=1
RSS_SEARCH_MAX_WORKERS=24
SEARXNG_TIMEOUT_SECONDS=10
SEARCH_COOLDOWN_SECONDS=30
DIGEST_COOLDOWN_SECONDS=60
FORCE_COOLDOWN_SECONDS=60
WIKI_COOLDOWN_SECONDS=30
FEEDHEALTH_COOLDOWN_SECONDS=300
